{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 90,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": true
}
