/* wrapper */
.main-wrapper {
}

/* sidebar */
.side-wrapper {
   width: 100%;
   height: 100vh;
   padding: 0 0.25rem;
}

.side_inner-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 1rem 0;
   height: 100%;
}

.logo {
   width: 100%;
   height: 57px;
   margin: 0;
   padding: 0.5rem 0.5rem 0.5rem 1rem;
   margin-bottom: 2rem;
}

.logo p {
   margin-left: 1rem;
}

.side-divider {
   margin: 1rem 0;
}

/* main-content */

.main-content {
   display: flex;
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
}

.main-content__section {
   display: flex;
   padding: 0;
   margin: 0;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

.section__heading {
   display: flex;
   margin: 1rem 0 1rem;
   width: 100%;
   justify-content: flex-start;
}

.section__artists {
   display: flex;
   justify-content: space-between;
   width: 100%;
   flex-wrap: wrap;
   height: auto;
}

.artist-card {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 330px;
   height: auto;
   padding: 0;
   margin: 2rem 0;
}

.artist-card__info {
   display: flex;
   background: #ff7043;
   padding: 0.5rem 1rem;
   width: 100%;
   align-items: center;
   justify-content: space-around;
}


/* inner-page: signin signup */

.signin-wrapper, .signup-wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   height: 100%;
   justify-content: center;
}

.inner-wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   justify-content: flex-start;
}

.page-heading {
   margin: 0 1rem;
}


/* user form */

.form-wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   justify-content: flex-start;
}

.form-wrapper p {
   margin-bottom: 3rem;
}
#user-form {
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 210px;
   justify-content: space-around;
}

#user-form input {
   margin: 1rem 0;
   background: white;
   width: 320px;
}

#user-form button {
   margin-top: 3rem;
}



/* footer */

.footer {
   display: flex;
   flex-wrap: wrap;
   height: 100px;
   border-top: 2px solid #13395d;
   width: 100%;
   padding: 0.25rem 0 0.25rem;
}

.footer p {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* media queries */
@media screen and (max-width: 1319px) {
   .artist-card {
      max-width: 400px;
   }
}

@media screen and (max-width: 1129px) {
   .section__heading {
      margin: 1.15rem 0;
      justify-content: center;
      text-align: center;
      width: 100%;
   }
   .section__artists {
      justify-content: center;
   }
   .artist-card {
      max-width: 480px;
   }
}
